<meta charset="utf-8" />
<title>{{ page.title }}</title>
<meta name="author" content="Green Wellness" />
<meta name="description" content="Green Wellness is een Wellness-branche specialist en productinnovator bekend van onder andere de Wellnessbon.">

<link href="css/hekyll.css" rel="stylesheet" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>-->
<script src="jmpress.all.min.js"></script>

