<meta charset="utf-8" />

<title>{{ page.title }}</title>

<meta name="author" content="Green Wellness" />

<meta name="description" content="Green Wellness is een Wellness-branche specialist en productinnovator, bekend van onder andere de Wellnessbon.">

<!--<link href="./assets/theme/greenwellness/styles/hekyll.css" rel="stylesheet" />-->

<link href="./assets/theme/greenwellness/styles/automatic.css" rel="stylesheet" />

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<script src="./assets/theme/greenwellness/script/jmpress.all.min.js"></script>

