<!doctype html>
<html>
  <head>
    <!-- jQuery and jmpress need to be in head due to markup rendering job -->
    {% include head.html %}

    <!-- Temporary scripts and last minute css -->
    <link href="./assets/theme/greenwellness/styles/automatic.css" rel="stylesheet" />
     <script>
      $.jmpress("template", "auto", {
          children: function(idx) {
            return {
                    y: 400
                    ,x: -300 + idx * 300
                    ,template: "auto"
                    ,scale: 0.3
            }
         }
      });
    </script>
  </head>
  <body>

    <!-- Main container jmpress -->
    <div id="jmpress" data-template="auto">

      {{ content }}

    </div>
    <script>
      $('#jmpress').jmpress();

      $.jmpress('apply', '#secondary', {
        secondary: {
          rotate: { z: 20, x: 20, y:20 },
          '': 'self'
        }
    });
    </script>
  </body>
</html>

